<div class="create-comment-container">
    <form class="create-comment-form">
      <h2>Create Comment</h2>
      <label for="comment">Comment</label>
      <textarea
        id="comment"
        name="comment"
        placeholder="Enter your comment"
        required
        rows="4"
      ></textarea>
  
      <button type="submit">Submit Comment</button>
      <p class="cancel-link">
        Want to go back? 
        <a routerLink="/about" routerLinkActive="active" aria-label="Go back to forums">Cancel</a>
      </p>
    </form>
  </div>
  