.homepage-banner {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    color: black;
}

.homepage-banner img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.homepage-banner h1 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
}

.browse-more-section {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.browse-more-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.browse-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.browse-button:hover {
    background-color: #0056b3;
}
