<div class="edit-comment-container">
    <form class="edit-comment-form"  (ngSubmit)="updateComment(comment._id)">
      <h2>Edit Comment</h2>
  
      <label for="content">Content</label>
      <textarea
        id="content"
        name="content"
        [(ngModel)]="comment.content"
        placeholder="Enter comment content"
        required
        rows="4"
      ></textarea>
  
      <button type="submit">Update Comment</button>
  
      <p class="cancel-link">
        Want to go back?
        <a  [routerLink]="['/post',comment.commentForPost, 'comments']" aria-label="Go back to post comments">Cancel</a>
      </p>
    </form>
  </div>
  