<div class="post-container">
    <h1 class="post-title">{{ post.title }}</h1>
    
    <p class="post-description">{{ post.description }}</p>
  
    <div class="comments-section">
      <div class="create-comment-container">
        <button  class="create-comment-btn" [routerLink]="['/post', post._id,'comments', 'create-comment']" routerLinkActive="active" >Create Comment</button>
      </div>
  
      <h2>Comments:</h2>
      
      <div *ngFor="let comment of comments; let i = index" class="comment-container">
        <div  class="comment-box">
          <p class="comment-text">{{ comment.content }}</p>
          <div class="comment-actions">
            @if(user?._id == comment.commentCreator) {
            <button class="edit-btn" [routerLink]="['/post',post._id, 'comments', comment._id, 'edit-comment']" routerLinkActive="active">Edit</button>
            <button  class="delete-btn" (click)="deleteComment(comment._id, post._id)">Delete</button>
            }
          </div>
        </div>
        </div>
        <hr>
      </div>
    </div>

  